body {
	background: #1d7bc1;
}

.login-box{
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #fff;
	width: 50%;
	
	box-shadow: 3px 5px 6px #333;

}

.img-login{
	margin-right: 15px;
}

.title-login{
	margin-top: 2px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.login-header{
	padding: 10px;
	background: #007bff;
}
.login-header a{
	text-decoration: none;
}
.login-body{
	padding: 10px;
	border-bottom: 1px solid #007bff;
}
.login-footer{
	padding: 10px;
}

@media screen and (max-width: 800px){
	.login-box{
		width: 100%;
		margin-top: 10px;
	}
}


.alert-error {
  background: #ffcdd2;
  border: 1px solid #f44336;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  padding: 10px;
}

.wrapper-btns {
  margin-top: 15px;
}
paper-button.link {
  color: #757575;
}